<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-9IhrDg9gjV1Gckd9k6t1ykTWM3FIBnc</string>
	<key>GCM_SENDER_ID</key>
	<string>647856247504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.julingApps</string>
	<key>PROJECT_ID</key>
	<string>test-juling</string>
	<key>STORAGE_BUCKET</key>
	<string>test-juling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647856247504:ios:4a3a2a84e96cf7656e44d5</string>
</dict>
</plist>